.c-container {
  justify-content: space-around;
  gap: 1rem;
}

.c-container > img {
  width: 9rem;
}

@media screen and (max-width: 420px) {
  .c-container {
    flex-direction: column;
  }
  .c-container > img {
    height: 6rem;
  }
}
